<div class="row">
    <div class="col-12 book-container">
        <h2 class="text-center">Book Details</h2>
        <form [formGroup]="detailsForm">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" formControlName="title" placeholder="Title" name="title" class="form-control"
                    id="title" readonly="true">
            </div>

            <div class="form-group">
                <label for="author">Authors:</label>
                <input type="text" formControlName="author" placeholder="Authors" name="author" class="form-control"
                    id="author" readonly="true">
            </div>

            <div class="form-group">
                <label for="genres">Genres:</label>
                <input formControlName="genres" placeholder="First Name" name="genres" class="form-control" id="genres"
                    readonly="true">
            </div>

            <div class="form-group">
                <label for="publishYear">Publish Year:</label>
                <input type="number" formControlName="publishYear" placeholder="Publish Year" name="publishYear"
                    class="form-control" id="publishYear" readonly="true">
            </div>
        </form>
        <button class="btn btn-success" (click)="goToListBook()">Back to list</button>
    </div>
</div>